<style>
p{font: 12pt sans-serif}
</style>

<h1>About Us</h1>
<!-- About Info goes here -->

<!--Start of DOVES-->
<h2>We are DOVES!</h2>
<p>
DOVES, or the Database for Ornithological Verification and Submission, is the software product developed by the 2013 ODU CS 411 blue team. 
The purpose of this site is to provide a database for the submission of rare bird sightings in the state of Virginia, under the jurisdiction of the Virginia Avian Records Committee (VARCOM).
This web server was programmed using Ruby on Rails with the major functionalities of user registration and access control, searching the database, submission of rare
bird sightings, and reviewer voting.  The chairman of VARCOM, Dr. Ake has acted as a mentor for the project and was instrumental in bringing this current working prototype to the birding community.
For more details on the 411 blue team follow the link below.
</p>
<!--End of DOVES-->

<br>
<!--Start of VARCOM-->
<h2>VARCOM</h2>
<p>
The Virginia Avian Records Committee (VARCOM) was formed in 1989 to increase knowledge of Virginia birds, to evaluate and to archive records of vagrants and rare nesting species in the state, and to encourage high standards of observation, recording, and reporting in the birding community. Since then, VARCOM has evaluated more than 650 records of rare species, unseasonal occurrences, and unusual breeding attempts.
<br/>(taken from http://www.virginiabirds.net/varcom.html)  More information on VARCOM can be found through the link below.
</p>

<p>
The chairman of VARCOM and the mentor of DOVES, Dr. Robert Ake holds a Ph.D. in Chemistry and has taught that subject at Old Dominion University for thirty-two years.
His hobbies are birdwatching and traveling. He has been to Manitoba, Ecuador, India, Europe and Peru.
He is the wind beneath our wings. 
</p>
<h3>Contacting VARCOM</h3>
<p style="text-indent: 0px;">VARCOM Secretary: Wendy Ealding  </br>
wealding@aol.com
</p>
<!--End of VARCOM-->
<br>
<!--Links-->
<h3>More Information</h3>
<ol>
<li><a href="http://www.cs.odu.edu/~411blue/" target = "_blank">411 Blue Team</a></li>
<li><a href="http://www.cs.odu.edu/" target = "_blank">Old Dominion's Computer Science Department</a></li>
<li><a href="http://www.odu.edu" target = "_blank">Old Dominion University</a></li>
<li><a href="http://www.virginiabirds.net/varcom.html" target = "_blank">VARCOM</a></li>
</ol>
