<% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>
  <%= image_tag("brownpelican.jpg", :class=>"profile", :style => "background:#4e82c8; width: 45%; height: 45%") %>
		<p>If you saw a bird, please let us know.</p>
		<blockquote><p>Birds are pretty cool, I think.</p><p>-Dr. Robert Ake</p></blockquote>