
  <div style="text-align:center">
	<span style="display: inline-block; width: 90%; max-width:1040px">
		<div id="myCarousel" class="carousel slide" style="text-align:left">
			<ol class="carousel-indicators">
				<% @multimedia.each_with_index do |item_image, index| %>
					<li data-target="#myCarousel" data-slide-to="<%= index %>"<% if index == 0%> class="active"<% end %>></li>
				<% end %>
			</ol>
			<!-- Carousel items -->
			<div class="carousel-inner">
				<% @multimedia.each_with_index do |item_image, index| %>
					<div class="<% if index == 0 %>item active<% else %>item<% end %>">
						<%= image_tag(item_image.image_url(:carousel), :class=>"profile") %>
						<div class="carousel-caption">
						  <h4>Bird name here</h4>
						  <p style="text-indent: 0em;">Spotted on March 31, 2013 near Norfolk, VA</p>
						</div>
					</div>
				<% end %>
			</div>

			<!-- Carousel nav -->
				<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
				<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
		</div>
	</span>
  </div>
		<p>If you saw a bird, please let us know.</p>
		<blockquote><p>Birds are pretty cool, I think.</p><p>-Dr. Robert Ake</p></blockquote>
		
    <script type="text/javascript">

    $('.carousel').carousel({

      interval: 5000

    })

    </script>