<html>
  <head>
    <meta name="generator"
    content="HTML Tidy for HTML5 (experimental) for Windows https://github.com/w3c/tidy-html5/tree/c63cc39" />
    <title></title>
  </head>
  <body>
    <h1>Site Map</h1>
    <h4>Current Users</h4>
    <ul>
      <li>
        <a href="http://localhost/">Home</a>
      </li>
      <li>
        <a href="http://localhost/submissions/search">Search</a>
      </li>
      <li>
        <a href="http://localhost/submissions">List of Submissions</a>
      </li>
      <li>
        <a href="http://localhost/submissions/new">Submission Page</a>
      </li>
      <li>
        <a href="http://localhost/users/login">Login</a>
      </li>
      <li>
        <a href="http://localhost/pages/about">About Page</a>
      </li>
    </ul>
    <h4>First Time Users</h4>
    <ul>
      <li>
        <a href="http://localhost/">Home</a>
      </li>
      <li>
        <a href="http://localhost/users/login">Sign Up</a>
      </li>
      <li>
        <a href="http://localhost/birds">Reviewable Birds</a>
      </li>
      <li>
        <a href="http://localhost/pages/about">About Page</a>
      </li>
    </ul>
  </body>
</html>
