<h1>About Us</h1>
<!-- About Info goes here -->

<!--Start of DOVES-->
<h1>We are DOVES!</h1>
<p>
We are the CS 411 blue team and we are the group responsible for designing the Database for VErification and Submission, otherwise known as DOVES.
The purpose is to provide a database for the submission of rare bird findings in the state of Virginia.
Dr. Ake has acted as a mentor for our project and we are very grateful for his advice in order to complete our first working prototype throughout the school year.
</p>
<!--End of DOVES-->


<!--Start of VARCOM-->
<h2>VARCOM</h2>
<p>
The Virginia Avian Records Committee or commonly known as VARCOM was founded in 1989.
VARCOM is responsible for documenting and collating rare bird findings such as the sighting of a Long-Billed Curlews and Royal Terns. 
It also aims to encourage high standards of observation, recording, and reporting in the birding community.
VARCOM consists of the following nine members: seven voting members, one non-voting secretary and one non-voting chairperson.
</p>

<p>
Dr. Robert Ake holds a Ph.D. in Chemistry and has taught that subject at Old Dominion University for thirty-two years.
His hobbies are birdwatching and traveling. He has been to Manitoba, Ecuador, India, Europe and Peru.
He currently serves as a chairman on VARCOM and has been a big inspiration for accomplishing this task.
</p>
<!--End of VARCOM-->

<!--Start of Fun Facts-->
<h1>Did You Know:</h1>
<ul>
<li>Birds act as a natural pesticides<sup>1</sup></li>
<li>One of the first famous bird watchers in the world was Aristotle<sup>2</sup></li>
</ul>
<!--End of Fun Facts-->



<!--Links-->
<h2>More Information</h2>
<ol>
<li><a href="http://www.cs.odu.edu/~411blue/" target = "_blank">411 Blue Team</a></li>
<li><a href="http://www.cs.odu.edu/" target = "_blank">Old Dominion's Computer Science Department</a></li>
<li><a href="http://www.odu.edu" target = "_blank">Old Dominion University</a></li>
<li><a href="http://www.virginiabirds.net/varcom.html" target = "_blank">VARCOM</a></li>
</ol>


<!--References-->
<h3>References</h3>
<ol>
<li>"The Importance of Birds." N.p., n.d. Web. 23 Oct. 2012. <http://www.extension.iastate.edu/naturemapping/monitoring/Importance_Birds.htm></li>
<li>"Birding in the United States: A Demographic and Economic Analysis." (n.d.): n. pag. Print</li>
</ol>


<a href ="sitemap.html.erb"> Site Map </a>

<!--About Info goes here:D :D :D (:M VARCOM!-->