<h1> ABOUT PAGE!!! --by J.Pierce </h1>
<!-- About Info goes here -->
<p>
The Virginia Avian Records Committee or commonly known as VARCOM was formed in 1989.
VARCOM is responsible for documenting and collating rare bird findings such as the sighting of a Long-Billed Curlews and Royal Terns. 
It also aims to encourage high standards of observation, recording, and reporting in the birding community.
</p>
<!-- Maybe insert a link about Robert Ake======= -->
About Info goes here
:D :D :D (:M

VARCOM!