<style>
p{font: 12pt sans-serif}
</style>

<h1>Getting Started</h1>

<!--Start of DOVES-->
<p>
Welcome to DOVES! If you are here you are probably interested in bird watching and would like to submit information about the rare birds you have seen. The purpose behind DOVES is to serve as a repository for all rare bird sightings in Virginia.  In order to have your sighting catalogued on our server, there are a few steps you need to follow.  Once you’ve gone through this tutorial, you’ll be able to submit sightings at your leisure in the future. 
</p>
<p>
The first thing you need to do is create a user account to log in with. This is necessary because you cannot make a bird sighting submission without being logged in. Clicking on the “Register User” link on the left side of the screen will allow you to do this. To create a user account you need to use a valid email address and password for the system to create the new user account/password combination. All other personal information fields (First name, Last name, Address, etc.) are not required to log in. 
</p>
<p> 
Once you have successfully created a user account you will be able to make a submission. You start to make a submission by clicking the “Submit” link on the left side of the screen. Note that if you have not yet successfully logged into DOVES and attempt to make a submission you will be redirected to the log in screen. If you are successfully logged in, however, you will be directed to the submission form. All fields in the submission form are required to be filled out in order to complete your submission. If you do not know what should be entered for a particular field you can write something like “I don’t know” in any of the fields in the form. When you have completed the form, you may click the “Submit” link at the bottom of the page. 
</p>
<p>
Once you have successfully submitted the form, it will be placed in a voting system, in which the members of VARCOM will look at your submission and decide if they want it to be included in the permanent records. Your submission should be about birds located in Virginia. You can log out and log back in periodically to see if VARCOM has made a decision regarding your bird sighting submission.
</p>
