<% if flash[:notice] %>
    <span class="notice"><%= flash[:notice] %></span>
  <% end %>
  <% if flash[:error] %>
    <span class="error"><%= flash[:error] %></span>
  <% end %>
  <br />
  
    <div class="btn-group">
    <button class="btn">Left</button>
    <button class="btn">Middle</button>
    <button class="btn">Right</button>
    </div>
  
  <%= image_tag("brownpelican.jpg", :class=>"profile", :style => "background:#4e82c8; width: 45%") %>
		<p>If you saw a bird, please let us know.</p>
		<blockquote><p>Birds are pretty cool, I think.</p><p>-Dr. Robert Ake</p></blockquote>